# DB 환경 설정 및 보안 민감 파일
config/db.php

# 운영체제 임시 임포트 파일
.DS_Store
Thumbs.db

# IDE / 에디터 설정
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# 로그 및 데이터 임시 파일
*.log
/tmp/

# 임시 배포/유틸리티 스크립트
deploy.ps1
*.pem
*.key
